body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 15px 30px;
  background-color: #846aaa;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.btns {
  justify-self: start;
  background-color: #569987;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 7px;
  border-radius: 8px
}

.title {
  justify-self: center;
  color: white;
  margin: 0;
}
.searchBar{
  justify-self: end;
  display: flex;
  gap: 8px;
 
}

.searchBar  select{
  padding: 8px;
  width: 100px;
}

input {
  padding: 8px;
  width: 200px;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#dexContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;

}

.card {
  background: #d9d7dd;
  border-radius: 12px;
  padding: 16px;
  color: #2f2d2d;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 325px;
  object-fit: cover;
  border-radius: 8px;
}

h2 {
  margin: 12px 0 8px;
}

.dex-link {
  text-decoration: none;
  color: inherit;
}

.centerPg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#infoContainer {
  width: 800px;
  height:900px;
  margin: 40 px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #d9d7dd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#catImage {
  display: block;
  margin: 0 auto 15px auto;
  width: 500px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 10px;
}

#catName {
    text-align: center;
    margin-bottom: 15px;
    color:#2f2d2d;
    font-family: Arial, sans-serif;
}

#infoContainer p {
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 6px 0;
    color: #2f2d2d;
}





